<form
  [formGroup]="messageForm"
  (ngSubmit)="onSubmit($event)"
>
  <op-modal-header (close)="close.emit()">{{ text.title() }}</op-modal-header>

  <div class="op-modal--body op-form">
    <op-form-field [label]="text.label">
      <textarea
        class="op-input op-ium-commit-msg-field"
        [formControl]="messageControl"
        slot="input"
        #input
        autofocus
      >
      </textarea>
    </op-form-field>
  </div>

  <div class="op-modal--footer">
    <button class="button -highlight">{{ text.nextButton }}</button>
  </div>
</form>
